body {
	text-align: center;
	margin: 0;
}
header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px 30px 20px;
}
h1 {
	font-family: "Raleway";
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
	text-transform: uppercase;
}
nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0 20px 0;
}
a {
	font-family: "Raleway";
	color: white;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	margin: 0 20px 0 20px;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	text-transform: uppercase;
}

a:hover {
	border-color: white;
}
main {
	width: 850px;
	margin: 35px auto;
}
h2 {
	font-family: "Raleway";
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
}
p {
	font-family: "Droid Serif";
	line-height: 26px;
	font-size: 18px;
}
img {
	margin: 40px 8px 0 8px;
}

button {
	background-color: #00A6B3; 
	color: white;
	text-transform: uppercase;
	font-family: "Raleway";
	font-weight: 600;
	font-size: 18px;
	padding: 10px 10px;
	margin: 20px;
	border: none;
	border-radius: 4px;
}

button:hover {
	background-color: white;
	color: #00A6B3;
	border: 2px solid;
	border-color: #00A6B3;
}
footer {
	text-transform: uppercase;
	padding: 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.copyright {
	font-family: "Raleway";
	float: left;
}
.message {
	font-family: "Raleway";
	float: right;
}
.name {
	color: #F15B31;
	font-weight: 700;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}